.about-bg {
  margin-top: 4%;
  font-family: poppins;
  margin-bottom: 9%;
  padding-left: 15%;
  padding-right: 15%;
}

#about-hd-img {
  height: 230px;
  width: 100%;
  background: url('https://unsplash.com/photos/3y1zF4hIPCg/download?force=true&w=1920');
  background-position: bottom;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

#about-hd-img h3 {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
  color: white;
  font-family: poppins;
  font-weight: bold;
  margin: 0;
}

.about-breadcrumb {
  margin-bottom: 6%;
}

.about-bg h4 {
  font-weight: 600;
  margin-bottom: 3%; 
  color: rgb(51, 50, 50);
  letter-spacing: 1px;
  margin-top: 3%;
}

.about-bg p  {
  font-family: poppins;
  text-align: center; 
  color: rgb(71, 71, 71);
  font-size: 20px;
  font-weight: 400;
}

@media screen and (max-width: 693px) {
  .about-breadcrumb {
    display: none;
  }

  .about-bg h4 {
    text-align: left;
  }
}

@media screen and (max-width: 1000px) {
  .about-bg {
    padding-left: 10%;
    padding-right: 10%;
  }
}

.header{
  display: inline-block;
  padding: 20px;
  font-size: 50px;
  font-weight: 500;
  letter-spacing: 1.2px;
  word-spacing: 5px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 15px;
  text-transform: uppercase;
  backdrop-filter: blur(15px);
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  word-wrap: break-word;
}

.no-dots {
  list-style-type: none;
  padding: 0;
  font-size: 20px;
}

.no-dots li {
  margin-bottom: 10px;
}
