footer {
    padding-top: 0.1%;
    margin-bottom: 0;
    margin-top: 1%;
    font-family: "Poppins", sans-serif;
}

.text-reset {
    text-decoration: none;
}

.text-reset:hover {
    text-decoration: underline;
}

.footer-copyright {
    color: white;
    font-weight: 500;
    background-color: rgb(43, 42, 42);
    position: relative;
}

.ticker {
    position: absolute;
    bottom: 10;
    left: 0;
    width: 100%;
    background-color: black;
    color: white;
    font-size: 14px;
    padding: 10px;
    white-space: nowrap;
    overflow: hidden;
    box-sizing: border-box;
    text-align: left;
}

.ticker::before {
  content: '';
  display: inline-block;
  animation: scroll 10s linear infinite;
}

@keyframes scroll {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}
